In [30]:
import requests
from bs4 import BeautifulSoup
html_page = requests.get('https://www.house.kg/kupit-kvartiru?').content
soup = BeautifulSoup(html_page, 'lxml')

In [31]:
lista = soup.find_all('div',class_="listing")

In [32]:
len(lista)

10

In [70]:
list_room=[]
list_area=[]
list_floor=[]
list_floor_of=[]
list_address=[]

list_price_usd=[]
list_price_kg=[]

In [34]:
#len(list_price_usd)

0

In [19]:
#lista[0].find('div',class_='price').text

'$ 220 000'

In [20]:
#a= lista[0].find('p',class_='title').text.strip().split(', ')

In [21]:
#a

['4-комн. кв.', '172 м2', '2 этаж из 16']

In [22]:
#lista[0].find('div',class_='address').text.strip()

'Бишкек, Парк Панфилова/Спартак, Панфилова 190/1'

In [23]:
#lista[0].find('div',class_='price-addition').text.strip()

'18 563 600 сом'

In [24]:
#list_price_usd

[]

In [71]:

for i in range(1,11):
    a = f"https://www.house.kg/kupit-kvartiru?page={i}"
    html_page = requests.get(a).content
    soup = BeautifulSoup(html_page, 'lxml')
    lista = soup.find_all('div',class_="listing")
    for apartament in lista:
        ass = apartament.find('p',class_='title').text.strip().split(', ')
        #list_room.append(ass[0])
        room= int(ass[0][0])
        
        list_room.append(room)
        areas = ass[1].split(' ')
        list_area.append(float((areas[0])))

        
        floors = int(ass[2].split(' ')[0])
        floor_of = int(ass[2].split(' ')[-1])

        list_floor.append(floors)
        list_floor_of.append(floor_of)
        
        list_address.append(apartament.find('div',class_='address').text.strip())
        
        priceusd = apartament.find('div',class_='price').text.split(' ')
        list_price_usd.append(int(priceusd[1]+priceusd[2]))
        
        pricekg = apartament.find('div',class_='price-addition').text
        a = pricekg.replace("сом","")
        b = a.replace(" ","")
        list_price_kg.append(int(b))

In [37]:
import pandas as pd

In [72]:
df =pd.DataFrame({
    'rooms':list_room,
    'area m^2':list_area,
    'floor':list_floor,
    'floor_of':list_floor_of,
    'address':list_address,
    'price_usd':list_price_usd,
    'price_som':list_price_kg
})

In [73]:
df

,rooms,area m^2,floor,floor_of,address,price_usd,price_som
0,4,172.00,2,16,"Бишкек, Парк Панфилова/Спартак, Панфилова 190/1",220000,18563600
1,2,35.00,1,3,"Бишкек, Восточный автовокзал, Аламединский 12/...",45500,3839290
2,3,64.00,12,15,"Бишкек, Магистраль, Магистраль/Сухэ Батора",97000,8184860
3,2,78.00,7,11,"Бишкек, Горького - Алма-Атинская, Горького-7-а...",89000,7509820
4,2,59.78,14,14,"Бишкек, Горького - Алма-Атинская, ул. Анкара ...",48422,4085848
...,...,...,...,...,...,...,...
95,5,191.00,2,10,"Бишкек, Золотой квадрат, Эркиндик бульвар, 14",330000,27845400
96,5,250.00,12,13,"Бишкек, Магистраль, Сухэ-Батора/Токомбаева",410000,34595800
97,1,50.00,17,17,"Бишкек, Мадина",45000,3797100
98,1,34.00,9,9,"Бишкек, Ден Сяопина - Фучика, Фучика 38/2/Рыск...",45000,3797100
99,1,42.80,8,9,"Бишкек, Ипподром, Гагарина, 139з",48500,4092430

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rooms      100 non-null    int64
 1   area m^2   100 non-null    float64
 2   floor      100 non-null    int64
 3   floor_of   100 non-null    int64
 4   address    100 non-null    object
 5   price_usd  100 non-null    int64
 6   price_som  100 non-null    int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.6+ KB

In [42]:
for i in list_floor:
    print(int(i.split('этаж из')[1]))